body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    color: #f5f5f5;
}

h1 {
    font-size: 2.5rem;
    color: #030303;
}

.navbar {
    font-size: 1.1rem;
}
.logoifba {
    border-radius: 20px;
    margin-right: 50px;
    width: 95px;
    
}

.logoifba:hover{
    transform: scale(1.1);
}

footer {
    background-color: #2c3e50;
    color: #fff;
}

.carousel img {
    height: 500px;
    object-fit: cover;
}
.carousel-inner img {
    max-height: 500px; 
    object-fit: cover; 
}

.footer {
    background-color: #188754;

}

.btn-primary{
 background-color: #2dfb64;
}
.btn-primary:hover{
    background-color: #188754 
}

.img-fluid .rounded-circle .mt-4{
    height: 200%;
}

.bg-light{
    color: black;

}
.tlt-index{
    color: white;
}
.parg{
    text-indent: 1.5em;
    text-align: justify;
    
}


